
.register-container {
    display: flex;
    height: 100vh;
    background-image: url("../Registro/img/img_principal.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: right;
    align-items: right;
    align-self: right;
    position: relative;
  }

.content-register {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    padding-right: 5%; 
    
}


.registro-form {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}


.titulo {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.input-container {
    flex: 1;
    margin-right: 10px;
}

.input-container:last-child {
    margin-right: 0;
}

.input-container label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.form-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.form-input:focus {
    border-color: #5cb85c;
    box-shadow: 0 0 5px rgba(92, 184, 92, 0.5);
    outline: none;
}

.btn {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.btn-success {
    background-color: #0b6d0b;
    color: white;
    border: none;
}

.btn-success:hover {
    background-color: #0ba00b;
    transform: scale(1.05);
}
.text-login:hover{
    color: #0b6d0b;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
}

.d-grid {
    margin-top: 20px;
}

