.registerContainer {
    display: flex;
    height: 100vh;
    background-image: url("../Registro/img/img_principal.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.contentRegister {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    padding-right: 5%; 
}

.containerRegistro {
    width: 100%;
    max-width: 550px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.registroForm {
    flex: 0.28; 
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0px 0px 20px rgb(154, 106, 4);
}

.titulo {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.formRow {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.inputContainer {
    flex: 1;
    margin-right: 10px;
}

.inputContainer:last-child {
    margin-right: 0;
}

.inputContainer label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.formInput {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.formInput:focus {
    border-color: rgb(154, 106, 4);
    box-shadow: 0 0 5px rgb(98, 68, 2);
    outline: none;
}

.btn {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
    background-color: rgb(154, 106, 4);
    color: white;
    border: none;   
}



.btn:hover {
    background-color: rgb(111, 78, 6);
    transform: scale(1.05);
}

.textLogin {
    text-align: center;
    margin-top: 20px;
    color: #333;
    font-size: 19px;
    font-weight: bold;
    transition: background-color 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.textLogin:hover {
    transform: scale(1.05);
    color: rgb(156, 112, 19);
    cursor: pointer;        
}

.dGrid {
    margin-top: 20px;
    display: grid;
}

@media (max-width: 768px) {
    .registerContainer {
        height: 100%;
    }
    .registroForm {
        flex: 1; 
        height: 100%;
        background-color: rgba(255, 255, 255, 0);
        
    }
    .formRow {
        display: flex;
        flex-direction: column;
    }
    .contentRegister {
        padding-right: 0%;
        
    }
    .containerRegistro {
        width: 110%;
        box-shadow: 0px 0px 20px rgb(154, 106, 4);
    }
    
}
