/* Contenedor principal */
.login-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: white;
  padding: 20px;
}

/* Título centrado en la parte superior */
.centered-title {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
}

/* Contenedor que divide la pantalla en dos */
.content-container {
  display: flex;
  flex: 1;
  align-items: center;
  background-color: white;
}

/* Contenedor para la imagen a la izquierda */
.image-container {
  flex: 0.4; /* Ajusta el tamaño del contenedor de la imagen */
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* Contenedor del formulario de inicio de sesión a la derecha */
.login-form {
  flex: 0.6; /* Ajusta el tamaño del contenedor del formulario */
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

/* Estilos de los campos y botones del formulario */
.nombre-input {
  font-size: 16px;
  margin-bottom: 8px;
  color: #555;
}

.input-field {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.btn-login {
  width: 100%;
  padding: 12px;
  background-color: #139713;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.btn-login:hover {
  background-color: #087a08;
}

.registrarse {
  text-align: center;
  margin-top: 20px;
  color: #0b6d0b;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.registrarse:hover {
  color: #25c725;
  cursor: pointer;
  text-decoration: none;
}

/* Ajustes para pantallas más pequeñas */
@media (max-width: 768px) {
  .content-container {
    flex-direction: column;
  }

  .image-container,
  .login-form {
    width: 100%;
  }

  .centered-title {
    font-size: 24px;
  }
}

@media (max-width: 480px) {
  .centered-title {
    font-size: 18px;
  }
}
