.containerLg {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    gap: 20px;
    padding: calc(var(--header-height) + 30px + 16px) 20px calc(var(--footer-height) + 30px + 16px) 20px;
    min-height: 100svh;
    box-sizing: border-box;
    margin-top: 50px;
}

.titulo{
    text-align: center;
    font-size: 40px;
    margin-top: 7%;
    font-weight:bold;
}