.cardTipoAnimal{
    display: flex;
    flex-direction: column;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: box-shadow 0.3s ease, transform 0.3s ease; 
    background-color: #fff;
}

.cardTipoAnimal:hover{
    box-shadow: rgba(79, 79, 79, 0.6) -5px 5px, rgba(79, 79, 79, 0.5) -10px 10px, rgba(79, 79, 79, 0.4) -15px 15px, rgba(79, 79, 79, 0.3) -20px 20px; /* Cambiar el color y la opacidad de la sombra */
}
.btn-visualizar{
    padding: 10px 20px;
    background: #0e690f;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.3s ease;
    font-size: 1.1em;
}

.img-tipo{
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 50%;
}

.content-Tipo{
    align-items: center;
    display: flex;
    flex-direction: column;
}

.btn-visualizar:hover{
    background: #0d580e;
    transform: scale(1.05);
}


@media (min-width: 769px) {

    .cardDataAnimal {
        width: calc(35% - 20px);
    }
}

@media (max-width: 768px) {
    .cardDataAnimal {
        width: calc(100% - 20px); 
    }
}