#main-layout {
  --primary-color: #237e0d;
  --bg-color: #ffffff;
  box-sizing: content-box;
}

#main-layout .boton-autenticacion {
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 5px;
  width: 150px;
  padding: 5px 0;
  cursor: pointer;
  height: fit-content;
}

#main-app {
  padding-top: calc(var(--header-height) + 50px);
}

@media screen and (max-width: 767.9999999px) {
  #main-layout {
    --header-height: 85.5px;
  }
}

@media screen and (min-width: 768px) {
  #main-layout {
    --header-height: 55px;
  }

  #main-layout #buscador {
    width: 300px !important;
  }
}
