.body {
    --primary-color: #237e0d;
    --bg-color: white;
    background-color: var(--bg-color);
    margin: 0 auto;
    padding: 16px;
    height: auto;
}
    
.backButton {
    background: none;
    border: none;
    color: #000000;
    font-size: 18px;
    cursor: pointer;
    margin-bottom: 8px;
    font-weight: 500;
}

.info {
    width: 400px;
}

.contentCarrusel {
    flex-grow: 1;
}

.tituloFavoritos {
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulo {
    font-size: 24px;
    font-weight: bold;
    margin: 16px 12px;
}

.favoritos {
    background: none;
    border: none;
    color: #000000;
    font-size: 24px;
    cursor: pointer;
    margin-bottom: 8px;
    font-weight: 500;
}

.tiempoRestante {
    font-size: 16px;
    margin-bottom: 8px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.fechas {
    font-size: 14px;
    color: #555;
    margin-bottom: 16px;
    display: flex;
    justify-content: space-between;
}

.ofertaActual {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 16px;
    text-align: center;
}

.descripcion {
    font-size: 16px;
    color: #666;
    margin-bottom: 16px;
    text-align: center;
}

.puja {
    display: flex;
    gap: 8px;
    margin-bottom: 16px;
}

.inputPuja {
    padding: 8px;
    font-size: 16px;
    border: 1px solid var(--primary-color);
    border-radius: 4px;
}

.pujar {
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    padding: 8px 16px;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
}

.historialPujas {
    background: var(--primary-color);
    color: white;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    margin: 0 auto;
    border-radius: 5px;
}

.contenedorHistorial {
    background-color: white;
}

.titulo button {
    background-color: green;
    color: #fff;
    border: none;
    padding: 8px 16px;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
}

.imgCarrusel {
    width: 400px;
    height: 400px;
    object-fit: cover;
}

.loaderContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .spinner {
    border: 8px solid rgba(0, 0, 0, 0.1);
    border-left-color: var(--primary-color);
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

@media screen and (min-width: 768px) {
    .body {
        max-width: none;
    }
    .info {
        margin-left: 40px;
    }
}

@media screen and (max-width: 767.9999999px) {
    .imgCarrusel {
        width: 300px;
        height: 300px;
    }
}
