.recuperarContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f3f4f6;
}

.contentContainer {
    width: 100%;
    max-width: 25%; 
    min-height: 50%; 
    background: #ffffff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.formContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.centeredTitle {
    text-align: center;
    color: #000000;
    font-size: 24px;
    font-weight: bold;
    margin-top: 7%;
}

.nombreInput {
    display: block;
    font-size: 16px;
    color: hsl(0, 0%, 33%);
    margin-top: 8%;
}

.inputField {
    width: 100%;
    padding: 13px;
    border: 1px solid #cccccc;
    border-radius: 6px;
    font-size: 14px;
    color: #333333;
    outline: none;
    transition: border-color 0.2s ease;
    margin-top: 5% ;
}

.inputField:focus {
    border-color: #25a432;
    box-shadow: 0 0 5px rgba(8, 183, 52, 0.5);
}

.btnEnviar {
    width: 100%;
    background-color: #28a745; 
    color: white;
    padding: 8px;
    border: none;
    border-radius: 10px; 
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 13%;
}

.btnEnviar:hover {
    background-color: #218838;
}

